<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jeeves</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark px-4 mb-3">
      <%= link to: Routes.home_path(@conn, :index), class: "navbar-brand" do %>
        <strong>Jeeves</strong>
      <% end %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarToggler">
        <%= if @user_signed_in? do %>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">Apps</a>
              <div class="dropdown-menu">
                <%= link "PrintClient", to: Routes.print_client_path(@conn, :index), class: "dropdown-item" %>
              </div>
            </li>
          </ul>
        <% end %>

        <div class="mr-auto"></div>

        <%= if @user_signed_in? do %>
          <ul class="navbar-nav">
            <li class="nav-item navbar-text">
              Signed in as:
              <strong>
                <%= if @current_user.is_administrator do %>
                  <%= link @current_user.username, to: Routes.admin_user_path(@conn, :index), class: "text-light" %>
                <% else %>
                  <%= link @current_user.username, to: Routes.user_path(@conn, :edit, String.downcase(@current_user.username)), class: "text-light" %>
                <% end %>
              </strong>
            </li>
          </ul>

          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link "Sign Out", to: Routes.session_path(@conn, :delete), method: :delete, class: "btn btn-sm btn-outline-light ml-0 ml-sm-2" %>
            </li>
          </ul>
        <% else %>
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link "Sign In", to: Routes.session_path(@conn, :new), class: "btn btn-sm btn-outline-light my-1 my-sm-0" %>
            </li>
            <li class="nav-item">
              <%= link "Sign Up", to: Routes.registration_path(@conn, :new), class: "btn btn-sm btn-outline-light my-1 my-sm-0 ml-0 ml-sm-2" %>
            </li>
          </ul>
        <% end %>
      </div>
    </nav>

    <div class="container">
      <%= unless is_nil(get_flash(@conn, :info)) do %>
        <p class="alert alert-success" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= unless is_nil(get_flash(@conn, :error)) do %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>

      <script>window.userToken = "<%= assigns[:user_token] %>"</script>
      <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div>
  </body>
</html>
