<div id="print-client">
  <h1 class="text-center">PrintClient</h1>
  <form>
    <server-file-selector resource="image" start-path="images/5/"></server-file-selector>
    <server-file-selector resource="config" start-path="config/rolling/horn"></server-file-selector>
  </form>

</div>

<script>
  var Vue = require('vue')

  new Vue({
    el: '#print-client'
  });
</script>
