@import "~bootstrap/scss/functions";

// **********
// "~bootstrap/scss/variables" modifications
// **********
// Overides before file will cascade changes throughout the file
$component-active-bg: #343a40;
@import "~bootstrap/scss/variables";
// Overides after file will only apply to current variable
$dropdown-link-active-color: darken($gray-900, 5%);
$dropdown-link-active-bg: $gray-100;

@import "~bootstrap/scss/bootstrap";

@import "vue-select/src/scss/vue-select.scss";

@import "auth_form";
